::-webkit-scrollbar
  width: 12px
::-webkit-scrollbar-track
  background #f9f9f9
  border-left none
::-webkit-scrollbar-thumb
  background #99999950
  border solid 3px #f9f9f9
  border-radius 7px
::-webkit-scrollbar-thumb:hover
  background: #99999990

.stdout > pre
  background #eee
  font-size 14px

.stderr > pre
  background #f5a1a1
  color #730001
  font-size 14px

.stream-name
  font-size 10px
  line-height 30px
  color #000

.theme-default-content td > pre
  padding 0
  margin 0
  background none
  border-radius 0

table
  border-collapse separate
  border-spacing 0 7px

th
  text-align left
  padding-left 15px
  font-size 10px
  font-weight normal
  font-family monospace
  color #000

td, th
  border none
  padding 10px 25px

tr
  background #f6f8fa
  color #282c34