::-webkit-scrollbar
  width: 12px
::-webkit-scrollbar-track
  background #f9f9f9
  border-left none
::-webkit-scrollbar-thumb
  background #99999950
  border solid 3px #f9f9f9
  border-radius 7px
::-webkit-scrollbar-thumb:hover
  background: #99999990

.stdout > pre
  background #eee
  font-size 14px

.stderr > pre
  background #f5a1a1
  color #730001
  font-size 14px

.result > pre
  background #F5F7FA
  font-size 14px

.stream-name
  font-size 10px
  line-height 30px
  color #000

.theme-default-content td > pre
  padding 0
  margin 0
  background none
  border-radius 0

.embedded-html
  color #90410b

  table
    border-collapse collapse

  th
    text-align left
    padding-left 15px
    font-size 10px
    font-weight normal
    font-family monospace
    color #000

  td, th
    padding 10px 25px

  td:nth-child(1)
    color #90410b

  td:nth-child(2)
    color #9f6f06

  td:nth-child(3)
    color #8e1e21

  tr
    background #F5F7FA

.page-nav .inner .next {
  padding-right: 1rem;
}