::-webkit-scrollbar
  width: 12px
::-webkit-scrollbar-track
  background #f9f9f9
  border-left none
::-webkit-scrollbar-thumb
  background #99999950
  border solid 3px #f9f9f9
  border-radius 7px
::-webkit-scrollbar-thumb:hover
  background: #99999990

.stdout > pre
  background #eee
  font-size 14px

.stderr > pre
  background #f5a1a1
  color #730001
  font-size 14px

.stream-name
  font-size 10px
  line-height 30px
  color #000